<span class="ariane-header">
    <h1><a href="/admin">{{__("Admin")}}</a> -> <a href="/admin/nomenclature">{{__("Nomenclature")}}</a> -> <a href="/admin/criteria">{{__("Critères")}}</a> -> {{__("Modification d'un critère")}}</h1>
</span>

<div class="div-box-main"> 
    <span class="div-box">
        <span class="div-box-header">
            <h1>{{__("Mise à jour du critère")}}</h1>
        </span>
        <div class="div-box-body">  
            <form action="/admin/criteria/update" method="post">            
                <input type="text" name="name" placeholder="{{__("Libellé du critère")}}" value="{{criteria.name}}" required="required"/>
                <input type="hidden" name="_id" value="{{criteria._id}}" />
                <input type="submit" class="btn-form btn-form-p" value="{{__("modifier")}}" />
            </form>
        </div>
    </span>
</div>