<span class="ariane-header">
    <h1><a href="/admin">{{__("Admin")}}</a> -> <a href="/admin/nomenclature">{{__("Nomenclature")}}</a> -> {{__("Gestion des spécialités")}}</h1>
</span>

<div class="div-box-main"> 
    <span class="div-box">        
        <div class="div-box-body"> 
            {% if msg is defined %}
                {% if msg.success is defined %}
                    <h1 style='color: #0000ff'>{{msg.success}}</h1>
                {% endif %}
                {% if msg.failed is defined %}
                    <h1 style='color: #ff0000'>{{msg.failed}}</h1>
                {% endif %}
            {% endif %}
            <form action="/admin/specialty/add" method="post">            
                <input type="text" name="name" placeholder="{{__("Nom de la spécialité")}}" required="required"/>
                <input type="submit" class="btn-form btn-form-p" value="{{__("ajouter")}}" />
            </form>
            <br />
            {% if result is defined %}  
                <table>
                    {% for specialty in result %}
                        <tr>
                            <td><h1>{{ specialty.name }}</h1></td>
                            <td><a href="/admin/specialty/update/{{ specialty._id }}" title="{{__("modifier")}}">{{ __("modifier") }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>{{__("Aucun résultat")}}</p>
            {% endif %}
        </div>
    </span>
</div>
