<span class="ariane-header">
    <h1><a href="/admin/prospect">{{__("Prospects")}}</a> -> <a href="/admin/prospect/search">{{__("Rechercher prospects")}}</a> -> {{__("Résultat de la recherche")}}</h1>
</span>

<div class="div-box-main"> 
    <span class="div-box">
        <span class="div-box-header">
            <h1>{{__("Résultat")}}</h1>
        </span>
        <div class="div-box-body">
            {% if result is defined %}  
                <table>
                    {% for item in result %}
                        <tr>
                            <td><a href="/admin/prospect/update/{{ item._id }}" title="{{__("modifier ce prospect")}}">{{ item.company }}</a> </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>{{__("Aucun résultat")}}</p>
            {% endif %}
        </div>
    </span>
</div>
