<span class="ariane-header">
    <h1><a href="/admin">{{__("Admin")}}</a> -> <a href="/admin/prospect">{{__("Prospects")}}</a> -> {{__("Modification d'un prospect")}}</h1>
</span>

<div class="div-box-main"> 
    <span class="div-box">                      
        <div class="div-box-body">
            <h1 style='color: #0000ff'>{{__("Modification réussie")}}</h1>
            <a href="/admin/prospect" title="{{__("Gestion des prospects")}}"><span class="button">{{__("continuer")}}</span></a>
        </div>
    </span>
</div>