<span class="ariane-header">
    <h1><a href="/admin">{{__("Admin")}}</a> -> {{__("Gestion des nomenclatures")}}</h1>
</span>

<div class="div-box-main"> 
    <span class="div-box">
        <span class="div-box-header">
            <h1>{{__("Menu")}}</h1>
        </span>
        <div class="div-box-body">  
            <a href="/admin/category" title="{{__("Gestion des catégories de prospects")}}"><span class="button">{{__("Catégories")}}</span></a>
            <a href="/admin/specialty" title="{{__("Gestion des spécialités")}}"><span class="button">{{__("Spécialités")}}</span></a>
            <a href="/admin/criteria" title="{{__("Gestion des critères")}}"><span class="button">{{__("Critères")}}</span></a>
            <!--<a href="/admin/type" title="{{__("Gestion des types de valeurs")}}"><span class="button">{{__("Types de valeurs")}}</span></a>-->
        </div>
    </span>
</div>