<span class="ariane-header">
    <h1><a href="/admin">{{__("Admin")}}</a> -> {{__("Gestion des modérations")}}</h1>
</span>

<div class="div-box-main"> 
    <span class="div-box">
        <span class="div-box-header">
            <h1>{{__("Menu")}}</h1>
        </span>
        <div class="div-box-body">  
            <p>
                <a href="/admin/moderate/photo/public/1" title="{{__("photos de profil")}}"><span class="button">{{__("photos de profil")}}</span></a>            
                <a href="/admin/moderate/photo/public/2" title="{{__("photos publiques n°2")}}"><span class="button">{{__("photos publiques n°2")}}</span></a>            
                <a href="/admin/moderate/photo/public/3" title="{{__("photos publiques n°3")}}"><span class="button">{{__("photos publiques n°3")}}</span></a>            
            </p>
            <p>
                <a href="/admin/moderate/photo/private/1" title="{{__("photos privées n°1")}}"><span class="button">{{__("photos privées n°1")}}</span></a>            
                <a href="/admin/moderate/photo/private/2" title="{{__("photos privées n°2")}}"><span class="button">{{__("photos privées n°2")}}</span></a>            
                <a href="/admin/moderate/photo/private/3" title="{{__("photos privées n°3")}}"><span class="button">{{__("photos privées n°3")}}</span></a>            
            </p>

        </div>
    </span>
</div>